stages:
  - check_syntax
  - run

variables:
  ANSIBLE_ROLES_PATH: ./roles

centos7_syntax:
  stage: check_syntax
  image: williamyeh/ansible:centos7
  script:
  - ansible-playbook -i hosts tests/test.yml --syntax-check
